@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.preloader {
  height: 100%;
  animation: rotation 0.5s infinite linear;

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
